[submodule "/home/franek/Documents/esp-idf/esp-idf-sh1107/components/utility"]
	path = /home/franek/Documents/esp-idf/esp-idf-sh1107/components/utility
	url = https://github.com/franciszekjanicki/esp32-utility.git
[submodule "esp32_utility"]
	path = esp32_utility
	url = https://github.com/franciszekjanicki/esp32_utility.git
[submodule "/home/franek/Documents/esp_idf/esp_idf_sh1107/components/esp32_utility"]
	path = /home/franek/Documents/esp_idf/esp_idf_sh1107/components/esp32_utility
	url = https://github.com/franciszekjanicki/esp32_utility.git
